.contenedor-imagen-pequena,
.contenedor-imagen-grande {
    background-color: darkslategray;
    max-width:450px;
}
img{
    width: 100%;
    
    max-width: 450px;
}
.contenedor-imagen-pequena:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.contenedor-imagen-grande:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} 



video{
    width: 70%;

}
.contenedor-video {
          padding-bottom: 56.25%;
          height:0;
          overflow: hidden;
          position: relative;
}

iframe{
    position: absolute;
    height: 70%;
    width: 70%;
    top:0;
    left:0;
}